# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Logs
logs/
*.log

# Data lake (raw data)
data_lake/

# IDE
.idea/
.vscode/
*.swp
*.swo